<LoadPlugin python>
    Globals true
</LoadPlugin>

LoadPlugin python

<Plugin python>
        ModulePath "./lib/"
        LogTraces true
        Import "wallarm_msgpack"

    <Module wallarm_msgpack>
       APIConnFile "./example_api.yaml"
       # TypesDB "/etc/collectd/my_types.db"
       # MainQueueMaxLength 200000
       # SendQueueMaxLength 10000 # not used now
       # FlushIntervalSecs 2
       # FlushTimeoutSecs 10
       # URLPath "/"
    </Module>
</Plugin>