FQDNLookup true
#LoadPlugin syslog
#<Plugin syslog>
#  LogLevel info
#</Plugin>
#LoadPlugin logfile
#<Plugin logfile>
#       LogLevel "debug"
#       File STDOUT
#       Timestamp true
#       PrintSeverity true
#</Plugin>

<LoadPlugin python>
    Globals true
</LoadPlugin>

LoadPlugin python

<Plugin python>
        ModulePath "./lib/"
        LogTraces true
        Import "wallarm_api_writer"

    <Module wallarm_api_writer>
       APIConnFile "./example_api.yaml"
       # TypesDB "/etc/collectd/my_types.db"
       # FlushIntervalSecs 2
       # FlushTimeoutSecs 10
       # URLPath "/"
    </Module>
</Plugin>

LoadPlugin battery
LoadPlugin cpu
LoadPlugin df
LoadPlugin disk
LoadPlugin entropy
LoadPlugin interface
LoadPlugin irq
LoadPlugin load
LoadPlugin memory
LoadPlugin processes
LoadPlugin swap
LoadPlugin users
Include "/etc/collectd/filters.conf"
Include "/etc/collectd/thresholds.conf"
