<LoadPlugin python>
    Globals true
</LoadPlugin>

LoadPlugin python

<Plugin python>
        ModulePath "./lib/"
        LogTraces true
        Import "wallarm_api_writer"

    <Module wallarm_api_writer>
       APIConnFile "./example_api.yaml"
       # TypesDB "/etc/collectd/my_types.db"
       # FlushIntervalSecs 2
       # FlushTimeoutSecs 10
       # URLPath "/"
    </Module>
</Plugin>